.person-container{
    text-align: center;
}

.person-field{
    background-color: grey;
    margin: 0;
    width: 12em;
    height: 30em;
    padding-left: 20%;
    padding-right: 20%;
    display: inline-block;
}

.person-field div{
    position: absolute;
    left: 35%;
}