

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* nav bar */

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

header h1{
    position: relative;
    padding-left: 15px;
}

nav ul{
    position: relative;
    margin: 20px,0,0,0;
    bottom: 5px;
}

nav ul li{
    display: inline-flex;
    text-decoration: none;
    margin: 0;
}

nav ul li a {
    text-align: center;
    text-decoration: none;
    padding: 20px;
    font-size: 20;
    overflow-x: hidden;
    color: #666;
}

nav ul li a:hover{
    color: #999;
    background-color:#333;
}

.active a{
    color: #999;
    background-color:#444;
}

/*Blog Page*/

.blog-divide {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 1%;
}

.blog-divide div{
    margin-top: 25px;
    padding: 25px;
    width: 400px;
    height: 100%;
    background-color: rgb(80, 129, 128);
}

.blog-divide div h1{
    text-align: center;
}

.blog-divide div ul{
    position: relative;
    padding: 2%;
    margin: 0;
}

.blog-divide div ul li{
    display: block;
    text-decoration: none;
    text-align: center;
    margin: 0;
    padding: 20px;
}

.blog-divide div ul li a{
    text-align: center;
    text-decoration: none;
    padding: 20px;
    font-size: 30;
    overflow-x: hidden;
    color:black;
}

.blog-divide div ul li a:hover{
    color: #E1E5F2;
    background-color: #5A7D7C;
}

article {
    margin: 0;
    padding-left: 20%;
    padding-right: 20%;
}

article h2{
    text-align: center;
}