

body {
    margin: 0;
    font-family: Arial;
}

h3{
    font-size: 2em;
}

cite{
    font-family: 'Times New Roman';
}

p{
    font-size: 1.25em;
}


h5, date h6{
    font-style: italic;
    font-size: 1em;
}

/* nav bar */

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
}

header h1{
    position: relative;
    padding-left: 0.5em;
    white-space: nowrap;
}

header img {
    position: fixed;
    width: 10%;
    height: 5%;
    left: 80%;
    cursor: pointer;
    padding: 1.3rem;

    visibility: hidden;
}

nav ul{
    position: relative;
    margin: 1em,0,0,0;
    bottom: 0.5em;
}

nav ul li{
    display: inline-flex;
    text-decoration: none;
    margin: 0;
}

nav ul li a {
    text-align: center;
    text-decoration: none;
    padding: 1.25em;
    font-size: 1.25em;
    overflow-x: hidden;
    color: #666;
}

nav ul li a:hover{
    color: #999;
    background-color:#333;
}

.active a{
    color: #999;
    background-color:#444;
}

/*Blog Page*/

.blog-divide {
    display: block;
    justify-content: space-between;
    margin: 0;
    padding: 1%;
}

.blog-divide div{
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    width: 60%;
    align-self: center;
    height: 100%;
    background-color: rgb(80, 129, 128);
}

.blog-divide div h2{
    text-align: center;
}

.blog-divide div ul{
    position: relative;
    padding: 2%;
    margin: 0;
}

.blog-divide div ul li{
    display: block;
    text-decoration: none;
    text-align: center;
    margin: 0;
    padding: 1em;
}

.blog-divide div ul li a{
    text-align: center;
    text-decoration: none;
    padding: 20px;
    font-size: 30;
    overflow-x: hidden;
    color:black;
    font-size: 1.25em;
}

.blog-divide div ul li a:hover{
    color: #E1E5F2;
    background-color: #5A7D7C;
}

article {
    margin: 0;
    padding-left: 20%;
    padding-right: 20%;
}

article h2{
    text-align: center;
}





@media (max-width: 600px){
    nav ul {
        top: 4em;
        right: 2.5em;
        width: 100%;
    }
    
    nav ul li{
        display: none;
        position: relative;
        visibility: visible;
        
    }

    nav ul li a{
        background-color: black;
    }

    .blog-divide div{
        width: 80%;
    }

    .blog-divide div ul li a{
        font-size: 1em;
    }

    header img{
        visibility: visible;
    }

    article {
        margin: 0;
        padding-left: 5%;
        padding-right: 5%;
    }
}